.Card {
  @include orden-flex;
  background-color: $white;
  border-radius: 0.6rem !important;
  height: auto;
  justify-content: space-around;
  margin: 1rem 0;
  padding: 1.5rem;
  text-transform: capitalize;

  .img-container {
    @include orden-flex;

    @include desktop {
      width: 100%;
    }
  }

  .img-container img {
    height: 96px;
    width: 100%;

    @include desktop {
      width: 30%;
    }
  }

  .data-container {
    @include orden-flex;
    flex-direction: column;
  }

  .data-container h5 {
    text-align: start;
    width: 100%;

    @include desktop {
      text-align: center;
    }
  }

  .button {
    width: 100%;
  }

  @include desktop {
    flex-direction: column;
    height: auto;
  }
}
